html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background-color: var(--darkblue);
  color:  var(--gru );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 20px;
}

/* Variables */
:root {
  --font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --darkblue: rgb(4, 4, 26);
  --darkblue-transparent: rgba(4, 4, 26, 0.2);
  --darkblue-transparent-gradient: linear-gradient(rgba(4, 4, 26, 0.7), rgba(4, 4, 26, 0.3));
  --gru: rgb(220, 220, 243);
  --darkgru: rgb(95, 95, 105);
  --border: 1px solid rgba(255, 255, 255, 0.123);
}